@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');

:root {
    --danger-color: #ff4444;
    --dangerr-color-dark: #CC0000;
    --warning-color: #ffbb33;
    --warning-color-dark: #FF8800;
    --success-color: #00C851;
    --success-color-dark: #007E33;
    --info-color: #33b5e5;
    --info-color-dark: #0099CC;
    --default-color: #2BBBAD;
    --default-color-dark: #00695c;
    --primary-color: #4285F4;
    --primary-color-dark: #0d47a1;
    --secondary-color: #aa66cc;
    --secondary-color-dark: #9933CC;
    --selected-color: #FFFF99;
}

*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    z-index: 2;
}

header div {
    height: 100%;
}

header div.brand {
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 20%;
}

header div.menu {
    width: 80%;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

header div.menu a {
    display: block;
    line-height: 200%;
    padding: 1rem;
}

header div.menu a:hover {
    background-color: #5396F5;
}

/* Header end */

/* Form */

form {
    display: flex;
    flex-direction: column;
}

form .form-control {
    width: 100%;
    padding: 1rem 0;
    display: flex;
}

form .form-control label {
    width: 10%;
    text-align: right;
    margin-right: .5rem;
    padding-top: 1rem;
}

form .form-control input,
form .form-control select {
    width: 90%;
    padding: 1rem;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
}

form .form-control textarea {
    width: 90%;
    height: 20vh;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

form .form-control input:active,
form .form-control input:focus,
form .form-control textarea:active,
form .form-control textarea:focus,
form .form-control select:active,
form .form-control select:focus {
    border: 2px solid var(--primary-color);
}

/* Form end */

/* Btn */

.btn {
    padding: .5rem;
    letter-spacing: 1px;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.btn-primary:focus,
.btn-primary:active {
    box-shadow: 0 0 1pt 1pt var(--primary-color);
}

/* Btn end */

/* IMG */

.img-min {
    width: 70px;
    height: 70px;
}

.img-min img {
    width: 100%;
    height: 100%;
}

/* IMG end */

/* Login form */

.login-form {
    width: 50%;
    margin: 6rem auto 0 auto;
    padding: 1rem;
    background-color: #fdfdfd;
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
}

/* Login form end */

/* Add product form */

.add-product-form {
    border: 1px solid #000;
    width: 50%;
    margin: 6rem auto 0 auto;
    padding: 1rem;
    background-color: #fdfdfd;
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
}

.add-product-form form .form-control section {
    width: 90%;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Add product form end */

/* Page header */

.page-header {
    background-image: url('./img/photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.page-header div {
    background-color: rgba(0,0,0,0.3);
    width: 30%;
    padding: 2rem;
    border-radius: 10px;
    margin-left: 10%;
    color: #fff;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.page-header div p {
    margin: 1rem 0 2rem 0;
}

.page-header div a {
    font-size: .9rem;
}

/* Page header end */

/* Page content */

.page-content {
    width: 90%;
    margin: 4rem auto 0 auto;
    border-radius: 5px;
    padding: 1rem;
    background-color: #efefef;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

/* Page content end */

/* Page item */

.page-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.page-item .item-header {
    padding: 1rem;
    max-height: 4rem;
    text-align: center;
    font-weight: 700;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.page-item .item-content {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.page-item .item-content img {
    width: 300px;
    height: 300px;
}

.page-item .item-content .add-to-cart {
    position: absolute;
    top: 70%;
    right: 0;
    padding: .5rem;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--warning-color);
    border-bottom: 1px solid var(--warning-color-dark);
    border-top: 1px solid var(--warning-color-dark);
    border-left: 1px solid var(--warning-color-dark);
    transform: translateX(100%);
    transition: all .3s linear;
    cursor: pointer;
}

.page-item .item-content .add-to-cart:hover {
    color: #fff;
    border: 1px solid #fff;
}

.page-item .item-content:hover .add-to-cart {
    transform: translateX(0);
}

.page-item .item-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* Page item end */

/* Single product */

.single-item {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.single-item > div:first-child {
    width: 50%;
    margin: 1rem;
}

.single-item > div:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-content: space-around;
}

.single-item > div:last-child > div:first-child {
    padding: 1rem;
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
}

.single-item > div:last-child > p {
    padding: 1rem;
    height: 80%;
}

.single-item > div:last-child > div:last-child {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-item img {
    width: 100%;
    height: auto;
}

/* Single product end */

/* Spinner */

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 5px solid #fefefe;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}  

/* Spinner end */

.selected {
    color: var(--selected-color);
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}